body {
  background-color: #f7efe5;
}

#title,
.subtitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  text-align: center;
}

.subtitle {
  font-size: 50px;
  margin-bottom: 5px;
  padding-top: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 20px;
}

.unordered-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.recipe-font {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.introduction-title {
  font-size: 25px;
  text-align: center;
  padding-bottom: 5px;
}

.lasagna-box {
  margin: 0 auto;
  width: 700px;
  text-align: center;
}
